body {
    background-color: lightyellow;
    margin-left:0px;
    margin-right:0px;
    
}

/* header */
h1 {
    text-align:center;
    font-size:50px;
    border-bottom: 5px solid tomato;
    padding-bottom:10px;
    margin: 0px;
    
}

h1 > a {
    color: red;
    text-decoration : none;
}

/* nav */

li > a {
    color:gold;
    text-decoration: none;
}

li {
    font-size:20px;
}

ul {
    list-style:circle;
    color:red;
}

.pink_list{
    color:pink
}

#th3{
    color:green;
}

/* Main */
h2{

    text-align: center;

}

img{
    border : 2px  red ;
    border-style: dashed solid;

    padding:10px 40px;
    margin: 10px;
    width: 200px;
}

p{
    color:Lime;
}

.odd_p{
    color:green;                
}



.myhome{

    display:grid;
    grid-template-columns: 200px 1fr ;
    
}

.albums{
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.myroom{
    border-right:5px solid tomato;
}

@media(max-width:650px){
    
    body{
        background-color : blue;
    }

    h1{
        font-size:30px;
        border-bottom: none;
    }

    .myhome{
        display:block;

    }

    .myroom{
        border-right:none;
    }
}